{% load static %}
<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3><a href="{% url 'hyskys:home' %}">Hyskys Enterprises</a></h3>
          <p>
            Canon Towers, Moi Avenue, Mombasa, Kenya <br />
            <strong>Phone:</strong> +254 7299 99979 | +254 7349 99979 | +254
            7257 00553 <br />
            <strong>Email:</strong> hyskys@gmail.com<br />
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'hyskys:home' %}">Home</a></li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">About us</a>
            </li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Team</a></li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Contact</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Web Design</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Web Development</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Product Management</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Marketing</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Graphic Design</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-lg-flex py-4">
    <div class="me-lg-auto text-center text-lg-start">
      <div class="copyright">
        &copy; Copyright <strong><span><a href="{% url 'hyskys:home' %}">Hyskys Enterprises</a></span></strong
        >. All Rights Reserved
      </div>
    </div>
    <div class="social-links text-center text-lg-right pt-3 pt-lg-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>
